<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Upplýsingar</title>
</head>
<body>
    <div class="wrapper">
        <head>
            <h1 class="head-text">Velkominn</h1>
        </head>
        <div class="SEC1">
            <h3>Hér eru leiðbeiningar um hvernig maður á að nota sjálfsalan</h3>
            <p>Fyrst verður þú að velja vöruna sem þú vilt fá og ýtta á * takkann.</p>
        </div>
        <div class="SEC2">
            <p>Nærst stingur þú kortinu inn í gatið og bíður eftir að peran, sem er fyrir ofan numpadinn, blikkar grænn</p>
            <p>Eftir það máttu taka kortið úr og stuttu síðar ætti viðeigandi hólf að opnast</p>
            <h2>Takk fyrir að nota sjálfsalann</h2>
        </div>
    </div>
</body>
</html>